# Private Stuff #
#################
.priv**/**
.piv**/**
.prv**/**
*.priv*/**
*.piv*/**
*.prv*/**

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.npm
*.node-gyp
build/
dist/
doc/build/
deploy-guide/build/
node_modules

# Logs and databases #
######################
*.log
*.sql
*.sqlite
logs/*

# IDE files #
#############
nbproject
.buildpath
.project
.settings
.tox
*.egg-info
.eggs
.coverage
*.retry
.idea
.ropeproject

# User driven backup files #
############################
*.bak
*.swp

# NOT my repo directory for references:
repo**

# ZPLUG's gitignore file
!repos/
repos/**

# Don't track plugins
plugins/**
# Keep the folders
!plugins/prezto-contrib
!plugins/prezto
!plugins/tmux-xpanes
!plugins/vimman
!plugins/wd
!plugins/zsh-completions
!plugins/zsh-python-prompt

